
services:
   my-rag-app:
    build: .
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - ./static:/app/static:ro
    restart: unless-stopped
    command: uvicorn server.server:app --host 0.0.0.0 --port 8000 --reload
