
services:
   my-rag-app:
    build: .
    env_file:
      - .env
    ports:
      - "${PORT:-8080}:${PORT:-8080}"
    volumes:
      - ./static:/app/static:ro
    restart: unless-stopped
    command: sh -c "uvicorn server.server:app --host 0.0.0.0 --port ${PORT:-8080} "
