fastapi
python-dotenv
pytest
dnspython
uvicorn
pydantic
pydantic-settings
pymongo[srv]
grandalf

PyYAML>=6.0.1
awsebcli

langgraph
langchain
langchain-community
langchain-openai
langchainhub

beautifulsoup4
tavily-python