option_settings:
  aws:elasticbeanstalk:application:environment:
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/health"
    HealthCheckInterval: 30
    HealthCheckTimeout: 10
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

